<div ng-controller="ShowQuestionsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>View and answer questions</h3>
        </div>
    </div>
 
		<accordion close-others="oneAtATime">
   			<accordion-group heading="Select a question to input your answers..." is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled"> 
     				This content is straight in the template.
   			</accordion-group>
   			<accordion-group heading="Does the state of {{bnvariableCause.name}} *directly* influence the state of..." ng-repeat="bnvariableCause in bnvariablesAsync">
       				<hr>
       				<div ng-repeat="bnvariableEffect in bnvariablesAsync">
       					<div ng-hide="{{bnvariableCause.uniqueId === bnvariableEffect.uniqueId}}">
     						<form class="form-inline">
								<div ng-repeat="answer in answersAsync | filter:{ 
																			bnvariableCause : bnvariableCause.uniqueId, 
																			bnvariableEffect : bnvariableEffect.uniqueId}" 
																			>
									<input value="{{answer.uniqueId}}">										
								</div>
								
								<div class="col-md-3 form-group">
									<label class="control-label">{{bnvariableEffect.name}}</label> 
								</div>
								<div class="form-group">
	   								<div class="btn-group">
	        							<label class="btn btn-default" ng-model="radioModel" btn-radio="'Yes'">Yes</label>
	        							<label class="btn btn-default" ng-model="radioModel" btn-radio="'No'">No</label>
	    							</div>
    							</div>
								<div class="form-group">
									<label class="sr-only" for="commentInput">Comment</label>
									<input type="text" class="form-control" id="commentInput" placeholder="Enter a comment">
								</div>
								<button type="submit" class="col-md-offset-3 btn btn-default"
								ng-repeat="answer in answersAsync | filter:{ 
																			bnvariableCause : bnvariableCause.uniqueId, 
																			bnvariableEffect : bnvariableEffect.uniqueId}" 
								ng-click="saveVariable(NewVariableForm)"
																			>{{answer.uniqueId}}</button>
							</form>
							<hr>
       					</div>
       				</div>
   			</accordion-group>
   			<accordion-group is-open="status.open">
       			<accordion-heading>
           			<div class="row">
           				I can have markup, too! 
           				<div class="col-sm-4">
           					<progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar>
           				</div>
           				
           				<!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
           			</div>
   				</accordion-heading>
       				This is just some content to illustrate fancy headings.
			</accordion-group>
		</accordion>

    </div>
</div>
